<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Biz-Ethics LTD</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/prettyPhoto.css" rel="stylesheet">
    <link href="/styles/price-range.css" rel="stylesheet">
    <link href="/styles/animate.css" rel="stylesheet">
	<link href="/styles/main.css" rel="stylesheet">
	<link href="/styles/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">

    <style>
.dropdown-submenu {
    position:relative;

}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:1px;
    margin-left:0.5px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
    background: rgba(0, 0, 0, 0.6);

}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
     -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;

}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
</style>

</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2348149240238</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@bizethics.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/bizethicslogo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li><a href="/user/new"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">Home</a></li>
								<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li class="dropdown-submenu"><a href="#">Products</i></a>
                                        	<ul class="dropdown-menu">
                                        		<li><a href="shop.html">Wireless</a></li>
												<li><a href="product-details.html">Connectors</a></li> 
												<li><a href="checkout.html">Converters</a></li>
												<li><a href="checkout.html">Inverters</a></li>
												<li><a href="checkout.html">Cameras</a></li>
												<li><a href="checkout.html">Routers/Switches</a></li>
												<li><a href="checkout.html">Tools</a></li>
												<li><a href="checkout.html">Telephony</a></li>
												<li><a href="checkout.html">AVS and Surge Protector</a></li>
												<li><a href="checkout.html">Solar Panels</a></li>

                                        	</ul>
                                        </li>
										<!-- <li><a href="product-details.html">Product Details</a></li>  -->
										<li><a href="checkout.html">Checkout</a></li> 
										<li><a href="cart.html">Cart</a></li> 
										<!-- <li><a href="login.html">Login</a></li>  -->
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Brands<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Cisco</a></li>
										<li><a href="blog-single.html">LsVision</a></li>
										<li><a href="blog-single.html">Ubiquiti</a></li>
										<li><a href="blog-single.html">Engenius</a></li>
										<li><a href="blog-single.html">Mikrotik</a></li>
										<li><a href="blog-single.html">Others</a></li>
                                    </ul>
                                </li> 
								<!-- <li><a href="404.html">404</a></li> -->
								<li><a href="contact-us.html">Contact-Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
							<li data-target="#slider-carousel" data-slide-to="3"></li>
							<li data-target="#slider-carousel" data-slide-to="4"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-4">
									<h1><span>Biz-Ethics LTD</span></h1>
									<h2>Your Home of Quality and Affordable Equipment</h2>
									
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-8">
									<img src="images/home/LS-VISION Channel.jpg" class="girl img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-12">
									<img src="images/home/lsvision.png" class="girl img-responsive" alt="" />
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-12">
									<img src="images/home/ls2.jpg" class="girl img-responsive" alt="" />
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							</div>
							<div class="item">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<img src="images/home/ls1.jpg" class="girl img-responsive" alt="" />
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							</div>
							<!--  -->
							<div class="item">
								<div class="col-sm-12">
									<img src="images/home/lsvision.gif" class="girl img-responsive" alt="" />
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
							</div>
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">All Products</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Security And Surveillance</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"></span>
											Power
										</a>
									</h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"></span>
											Cables
										</a>
									</h4>
								</div>
							</div> 
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Switches/Routers</a></h4> 
						        </div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"> Connectors</a></h4>
						        </div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Testing,Structure Cabling, tools and acessories</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Converters</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Telephony</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Cameras</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Others</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Cisco</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>Ubiquiti</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Netgear</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>LsVision</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Mikrotik</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Engenius</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>Others</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
										
						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Latest Items</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="/images/lsvision/LS VISION 1.3MP Varifocal Lens Hisilicon P2P IR Night Vision Waterproof Bullet IP Camera.jpg" alt="" />
											<h2>N60,000</h2>
											<p>LS VISION 1.3MP Varifocal Lens</p>
											<a href="#" class="btn btn-default add-to-cart"><strong>DETAILS</strong></a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>N60,000</h2>
												<p>Model No.: LS-ZB3130E <br> 1/3" CMOS Sensor <br> 5-50mm varifocal Lens <br>1.3 Megapixel <br> 20fps@960P(1280x960) <br> 4pcs IR leds 50-70m <br>IR night vision <br>Weatherproof IP66 <br> DC12V power supply <br>P2p support android/ios <br>Optional: POE IEEE802.3af</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									<img src="images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i><strong>Add to wishlist</strong></a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i><strong>Add to Cart</strong></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="/images/lsvision/LS VISION 2.0 Megapixel 1920×1080 Varifocal Lens P2P Onvif 2.4 IR IP Dome Camera.jpg" alt="" />
											<h2>N68,000</h2>
											<p>LS VISION 2.0MP Varifocal Lens</p>
											<a href="#" class="btn btn-default add-to-cart"><strong>DETAILS</strong></a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>N68,000</h2>
												<p>Model No.: LS-ZD5200C <br> 1/2.8" CMOS Sensor<br>2 Megapixel<br>25/30fps@1080P(1920x1080)<br>2.8-12mm varifocal Lens<br>30pcs F5 IR Leds <br> 20m IR distance<br>Vandalproof housing<br>DC 12V power supply<br>P2p support android/ios<br>Optional: POE IEEE802.3af</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									<img src="images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i><strong>Add to wishlist</strong></a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i><strong>Add to Cart</strong></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="/images/lsvision/LS VISION 1 or 2.9inch 2.0 Megapixels SONY CMOS Fixed Lens IR Night Vision HD TVI Camera.jpg" alt="" />
											<h2>N62,000</h2>
											<p>LS VISION 2.9MP Sony Fixed Lens</p>
											<a href="#" class="btn btn-default add-to-cart"><strong>DETAILS</strong></a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>N62,000</h2>
												<p>Model: LS-TF3200B <br> Full HD resolution with Sony IMX322 CMOS sensor <br>Up to 300M long distance real time monitoring <br>Day/Night (ICR), AWB, AGC, BLC<br> 2D/3D-DNR, Defog WDR <br>Slow-Shutter, Smart IR, Sense up <br> Digital Zoom,Motion Detection<br> Privacy Mask, Mirror OSD menu<br> TVI / AHD / CVBS adjustable</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									<img src="images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="/images/lsvision/LS VISION 4CH 3MP H.264 P2P AHD TVI CVI IP Analog 5 in 1 Hybrid DVR Video Recorder NVR support 2 SATA HDD.jpg" alt="" />
											<h2>N80,000</h2>
											<p>LS VISION 4CH 3MP Hybrid DVR Video Recorder</p>
											<a href="#" class="btn btn-default add-to-cart"><strong>DETAILS</strong></a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>N80,000</h2>
												<p>Model: LS-HVR3204<br>Main Processor: HI3520D V300<br>support 2 Sata<br>Audio 4 ch in / 1 ch out<br>Adjustable mode:<br>TVI:4CH 3MP 12fps recording<br> 2CH 3MP playback<br>HVR:2CH 3MP@12fps <br>TVI + 2CH 3MP@25fps IP recording<br> 2CH 3MP@25fps playback<br>NVR:4CH 3MP/5MP@25fps IP recording<br> 4CH 2CH 3MP/1CH 5MP@25fps playback</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									<img src="images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="/images/lsvision/LS VISION 8CH 960P AHD DVR Recorder Kit with Fixed Lens 3.6mm 8pcs 1.3MP IR Bullet Analog HD Camera.jpg" alt="" />
											<h2>N102,000</h2>
											<p>LS VISION 8CH 960P AHD DVR Recorder Kit with Fixed Lens 1.3MP</p>
											<a href="#" class="btn btn-default add-to-cart"><strong>DETAILS</strong></a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>N102,000</h2>
												<p>Model: LS-AK8108W <br>8CH 960P AHD DVR kit <br>8ch AHD 1080N @15fps recording&amp;playback<br>8pcs 2-in-1 extension 18M Cable(power with video BNC)<br>12V 2A/12V 3A power supply with 1-to-8 power splitter<br>Standard with fixed lens 3.6mm<br>8pcs 960P IR bullet cameras</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									<img src="images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="/images/lsvision/LS VISION 4CH 1080P Realtime HD PoE NVR, H.265 NVR Network Security System, Network Video Recorder for IP Cameras.jpg" alt="" />
											<h2>N100,000</h2>
											<p>LS VISION 4CH 1080P PoE NVR for IP Cameras</p>
											<a href="#" class="btn btn-default add-to-cart"><strong>DETAILS</strong></a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>N100,000</h2>
												<p>Model:LS-NF5104P <br>H.265/H.264 adaptive network camera<br>4ch 1080p@30fps(8Mbps)<br>4ch 3MP@20fps(8Mbps)<br>4ch 5MP@10fps(8Mbps) video input<br>4ch 1080P real time/4CH <br>3MP@20fps(10Mbps)<br>2CH 5MP@10fps(10Mbps) Playback<br>Support 1 SATA<br>4ch POE port (IEEE 802.3af)<br>1 RJ45 10M / 100M adaptive Ethernet interface<br>
Two-way voice intercom<br>ONVIF 2.4; P2P Function<br>Alarm mobile phone push<br>Intelligent features: 1CH face detection, 2ch boundary analysis</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									<img src="images/home/new.png" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!--features_items-->
					
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#cisco" data-toggle="tab">Cisco</a></li>
								<li><a href="#netgear" data-toggle="tab">Netgear</a></li>
								<li><a href="#" data-toggle="tab">Mikrotik</a></li>
								<li><a href="#" data-toggle="tab">LS Vision</a></li>
								<li><a href="#" data-toggle="tab">Ubiquiti</a></li>
								<li><a href="#" data-toggle="tab">Engenius</a></li>
								<li><a href="#" data-toggle="tab">Others</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="cisco" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/cisco/ASA5506-K9.jpg" alt="" />
												<h2>=N=186,134.10</h2>
												<p>Cisco ASA5506-K9 Asa 5506X with Firepower</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/cisco/cisco_1841.jpg" alt="" />
												<h2>=N=311,354.28</h2>
												<p>Cisco 1841 Integrated Services Router</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/cisco/Cisco-1921-k9.jpg" alt="" />
												<h2>=N=251,608.29</h2>
												<p>Cisco 1921/K9 Integrated Service Security Router</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/cisco/Cisco_ASA5505_bun_k9.jpg" alt="" />
												<h2>=N=207,569.52</h2>
												<p>Cisco ASA 5505 Adaptive Security Appliance</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="netgear" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/netgear/NETGEAR - AC1600 Wireless Router with DOCSIS 3.0 Cable Modem - Black.jpeg" alt="" />
												<!-- <h2>$56</h2> -->
												<p>NETGEAR - AC1600 Wireless Router with DOCSIS 3.0 Cable Modem - Black</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/netgear/NETGEAR - ProSAFE 24-Port Gigabit Smart Switch - Blue.jpeg" alt="" />
												<!-- <h2>$56</h2> -->
												<p>NETGEAR - Nighthawk AC1900 Dual-Band Router with DOCSIS 3.0 Cable Modem - Black</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/netgear/NETGEAR - ProSafe Plus 24-Port Gigabit Ethernet Switch - Gray.jpeg" alt="" />
												<!-- <h2>$56</h2> -->
												<p>NETGEAR - ProSafe Plus 24-Port Gigabit Ethernet Switch - Gray</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/netgear/NETGEAR - Wireless-AC1750 Dual-Band Gigabit Router with 4-Port Ethernet Switch - Black.jpeg" alt="" />
												<!-- <h2>$56</h2> -->
												<p>NETGEAR - Wireless-AC1750 Dual-Band Gigabit Router with 4-Port Ethernet Switch - Black</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="mikrotik" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="kids" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="poloshirt" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/cisco/pap2t.jpg" alt="" />
													<!-- <h2>$56</h2> -->
													<p>Cisco PAP2T Internet Phone Adapter with 2 VoIP Ports</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/cisco/ciscoSRW224G4P.jpg" alt="" />
													<!-- <h2>$56</h2> -->
													<p>Cisco SF 300-24P (SRW224G4P-K9-NA) 24-Port Managed 10/100 PoE Switch, 2x Gigabit, 2x Combo GBI</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/netgear/NETGEAR - ProSafe Plus 24-Port Gigabit Ethernet Switch - Gray.jpeg" alt="" />
													<!-- <h2>$56</h2> -->
													<p>NETGEAR - Nighthawk AC1900 Dual-Band Router with DOCSIS 3.0 Cable Modem - Black</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>Biz-Ethics</span></h2>
							<p><strong>Your Home of Quality and Affordable Equipment</strong></p>
						</div>
					</div>
					<div class="col-sm-7">
						<!-- <div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe1.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe2.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="images/home/iframe4.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div> -->
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p><strong>6,9 Mr. BizEtics street, ikeja, Lagos, Nigeria</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Change Location</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quick Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Cables</a></li>
								<li><a href="#">CCTV Camera</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Telephony</a></li>
								<li><a href="#">Routers</a></li>
								<li><a href="#">Switches</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<!-- <li><a href="#">Ticket System</a></li> -->
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About BizEthics</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<!-- <li><a href="#">Careers</a></li> -->
								<li><a href="#">Store Location</a></li>
								<!-- <li><a href="#">Affillate Program</a></li> -->
								<!-- <li><a href="#">Copyright</a></li> -->
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About BizEthics</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be the first to know...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2017 Biz-Ethics LTD. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="#">BenNetworks Technologies</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	
</body>
</html>